# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
serie_sem_index = pd.Series(data=anomalia_termica)
serie_sem_index

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [8]:

# seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
serie_com_index = pd.Series(data=anomalia_termica, index=anos)
serie_com_index

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [9]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_dict = pd.Series(dic_temperaturas)
serie_dict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [15]:
arr = np.random.normal(100, 10, (20,3))
arr

array([[ 95.2694996 ,  95.01330325, 111.92706035],
       [ 75.96444207,  93.55814308,  85.85013675],
       [ 81.99347606,  89.94617974, 104.59760103],
       [104.02783014, 111.06067561, 101.98556371],
       [ 98.17363529, 110.67830977, 102.65096415],
       [ 94.55879222, 121.8598224 , 111.21275057],
       [ 94.02874207,  98.08172762, 104.85955001],
       [ 90.57030904, 107.99037831,  91.1859841 ],
       [ 97.36943781, 106.32444625,  93.29848434],
       [112.25520436, 100.66928219, 111.48289301],
       [ 91.11592203, 116.48469872, 121.49006661],
       [ 96.29968067, 114.27995264, 101.12839629],
       [107.23690811,  89.16617898,  88.52073842],
       [100.62496512,  76.83222529,  97.43231955],
       [112.88236586, 101.82361812, 107.35161712],
       [ 92.16935373, 100.50801889, 102.93602138],
       [101.53839507, 106.28375052,  92.524856  ],
       [ 87.55150296, 121.22300171, 107.10552882],
       [110.04484811,  93.29998803, 101.49878924],
       [ 73.82671501,  92.15075026, 118.80149285]])

In [28]:
df_array = pd.DataFrame(arr)
df_array

             0           1           2
0    95.269500   95.013303  111.927060
1    75.964442   93.558143   85.850137
2    81.993476   89.946180  104.597601
3   104.027830  111.060676  101.985564
4    98.173635  110.678310  102.650964
5    94.558792  121.859822  111.212751
6    94.028742   98.081728  104.859550
7    90.570309  107.990378   91.185984
8    97.369438  106.324446   93.298484
9   112.255204  100.669282  111.482893
10   91.115922  116.484699  121.490067
11   96.299681  114.279953  101.128396
12  107.236908   89.166179   88.520738
13  100.624965   76.832225   97.432320
14  112.882366  101.823618  107.351617
15   92.169354  100.508019  102.936021
16  101.538395  106.283751   92.524856
17   87.551503  121.223002  107.105529
18  110.044848   93.299988  101.498789
19   73.826715   92.150750  118.801493

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [34]:
df_array_renomeado = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])
df_array_renomeado.index = range(1,21)
df_array_renomeado

            x1          x2          x3
1    95.269500   95.013303  111.927060
2    75.964442   93.558143   85.850137
3    81.993476   89.946180  104.597601
4   104.027830  111.060676  101.985564
5    98.173635  110.678310  102.650964
6    94.558792  121.859822  111.212751
7    94.028742   98.081728  104.859550
8    90.570309  107.990378   91.185984
9    97.369438  106.324446   93.298484
10  112.255204  100.669282  111.482893
11   91.115922  116.484699  121.490067
12   96.299681  114.279953  101.128396
13  107.236908   89.166179   88.520738
14  100.624965   76.832225   97.432320
15  112.882366  101.823618  107.351617
16   92.169354  100.508019  102.936021
17  101.538395  106.283751   92.524856
18   87.551503  121.223002  107.105529
19  110.044848   93.299988  101.498789
20   73.826715   92.150750  118.801493

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [36]:
# seu código aqui
df_array_renomeado['media'] = (df_array_renomeado['x1'] + df_array_renomeado['x2'] + df_array_renomeado['x3']) / 3
df_array_renomeado

            x1          x2          x3       media
1    95.269500   95.013303  111.927060  100.736621
2    75.964442   93.558143   85.850137   85.124241
3    81.993476   89.946180  104.597601   92.179086
4   104.027830  111.060676  101.985564  105.691356
5    98.173635  110.678310  102.650964  103.834303
6    94.558792  121.859822  111.212751  109.210455
7    94.028742   98.081728  104.859550   98.990007
8    90.570309  107.990378   91.185984   96.582224
9    97.369438  106.324446   93.298484   98.997456
10  112.255204  100.669282  111.482893  108.135793
11   91.115922  116.484699  121.490067  109.696896
12   96.299681  114.279953  101.128396  103.902677
13  107.236908   89.166179   88.520738   94.974609
14  100.624965   76.832225   97.432320   91.629837
15  112.882366  101.823618  107.351617  107.352534
16   92.169354  100.508019  102.936021   98.537798
17  101.538395  106.283751   92.524856  100.115667
18   87.551503  121.223002  107.105529  105.293344
19  110.044848   93.299988  101.498789  101.614542
20   73.826715   92.150750  118.801493   94.926319

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [38]:
# seu código aqui
df_array_renomeado['log_med'] = np.log(df_array_renomeado['media'])
df_array_renomeado

            x1          x2          x3       media   log_med
1    95.269500   95.013303  111.927060  100.736621  4.612509
2    75.964442   93.558143   85.850137   85.124241  4.444112
3    81.993476   89.946180  104.597601   92.179086  4.523733
4   104.027830  111.060676  101.985564  105.691356  4.660523
5    98.173635  110.678310  102.650964  103.834303  4.642796
6    94.558792  121.859822  111.212751  109.210455  4.693277
7    94.028742   98.081728  104.859550   98.990007  4.595019
8    90.570309  107.990378   91.185984   96.582224  4.570395
9    97.369438  106.324446   93.298484   98.997456  4.595094
10  112.255204  100.669282  111.482893  108.135793  4.683388
11   91.115922  116.484699  121.490067  109.696896  4.697721
12   96.299681  114.279953  101.128396  103.902677  4.643455
13  107.236908   89.166179   88.520738   94.974609  4.553610
14  100.624965   76.832225   97.432320   91.629837  4.517757
15  112.882366  101.823618  107.351617  107.352534  4.676118
16   92.169354  100.508019  102.936021   98.537798  4.590440
17  101.538395  106.283751   92.524856  100.115667  4.606326
18   87.551503  121.223002  107.105529  105.293344  4.656750
19  110.044848   93.299988  101.498789  101.614542  4.621187
20   73.826715   92.150750  118.801493   94.926319  4.553101